In [1]:
# Importing dependancies
import numpy as np
import scipy.stats as st
import pandas as pd

### Problem 1

>1. ð»0: ðœ‡ = 25, ð»1: ðœ‡ â‰  25

This hypothesis testing problem is correct as the null hypothesis confirms the equality and alternate hypothesis gives the alternate in two directions. This is a two tailed test.

>2. ð»0: ðœŽ > 10, ð»1: ðœŽ = 10

This hypothesis testing problem is incorrect as the alternate hypothesis fails to provide the right alternate to the null hypothesis.

>3. ð»0: ð‘¥ = 50, ð»1: ð‘¥ â‰  50

This hypothesis testing problem is correct as the null hypothesis confirms the equality and alternate hypothesis gives the alternate in two directions. This is a two tailed test.

>4. ð»0: ð‘ = 0.1, ð»1: ð‘ = 0.5

This hypothesis testing problem is incorrect as the alternate hypothesis fails to provide the right alternate to the null hypothesis.


>5. ð»0: ð‘  = 30, ð»1: ð‘  > 30

This hypothesis testing problem is correct and is a right tailed test as the alternate hypothesis provides a right sided alternate to the null hypothesis.

### Problem 2

In [2]:
pop_mean = 52 #population mean
pop_sd = 4.5 #population standard deviation
samp_n = 100 #sample size
samp_mean = 52.8 #sample mean
alpha = 0.05

#Since sample size>30 and population variance is known, we can perform a Z-test to test the hypothesis.

#H0: The average cost of textbooks is equal to 52.8
#H1: The average cost of textbooks is greater than 52.8

#This is a right tailed test.

z_critical = st.norm.isf(alpha)

std_error = pop_sd/(samp_n**0.5)
z_test = (samp_mean-pop_mean)/std_error

print("z-critical: ", z_critical)
print("z-test: ", z_test)

z-critical:  1.6448536269514729
z-test:  1.7777777777777715

>Since z_test > z_critical for our right tailed test at 5% level of significance, we reject the null hypothesis.
Therefore we can conclude that there is sufficient evidence to prove that the average cost of textbooks is greater than 52.8

### Problem 3

In [3]:
pop_mean = 34 #population mean
pop_sd = 8 #population standard deviation
samp_n = 50 #sample size
samp_mean = 32.5 #sample mean
alpha = 0.01

#Since sample size>30 and population variance is known, we can perform a Z-test to test the hypothesis.

#H0: The average concentration of pollutants in Genesee River is less than or equal to 34ppm
#H1: The average concentration of pollutants in Genesee River is greater than 34ppm

#This is a right tailed test.

z_critical = st.norm.isf(alpha)

std_error = pop_sd/(samp_n**0.5)
z_test = (samp_mean-pop_mean)/std_error

print("z-critical: ", z_critical)
print("z-test: ", z_test)

z-critical:  2.3263478740408408
z-test:  -1.3258252147247767

>Since z_test < z_critical for a right tailed test at 1% significance level, we fail to reject the null hypothesis.
Therefore we can conclude that there is insufficient evidence to prove that the average concentration of pollutants in Genesee River is greater than 34ppm.

### Problem 4

In [4]:
pop_mean = 1135 #population mean
samp_n = 22 #sample size
alpha = 0.05
data = [1008,812,1117,1323,1308,1415,831,1021,1287,851,930,730,699,872,913,944,954,987,1695,995,1003,994]

samp_mean = np.mean(data) #sample mean
samp_sd = np.std(data) # sample standard deviation

#Since sample size<30 and population variance is unknown, we can perform a T-test to test the hypothesis.

# H0: The average spending on dental expenditures by a family of 4 in the US is equal to $1135
# H1: The average spending on dental expenditures by a family of 4 in the US is not equal to $1135

# This is a two tailed test.

df = samp_n-1 # Degrees of freedom
t_critical= st.t.ppf(1-(alpha/2),df)


std_error = samp_sd/(samp_n**0.5)

t_test = (samp_mean-pop_mean)/std_error
print(f"t-critical: Â±{t_critical}")
print("t-test", t_test)

t-critical: Â±2.079613844727662
t-test -2.070747228595759

>Since t_test for our two tailed test at 5% level of significance lies within the confidence interval, we fail to reject the null hypothesis. 

>Therefore we can conclude that there is insufficient evidence to prove that the average spending on dental expenditures by a family of 4 in the US is not equal to $1135.

### Problem 5

In [5]:
pop_mean = 48432 #population mean
samp_n = 400 #sample size
samp_mean = 48574 #sample mean
samp_sd = 2000 #sample standard deviation

alpha = 0.05 # We test for a 5% significance level

#Since sample size>30 and population variance is unknown, we will perform a Z-test to test the hypothesis.

#H0: The average annual family income on Metropolis is equal to $48,432
#H1: The average annual family income on Metropolis is greater than $48,432

#This is a right tailed test.

z_critical = st.norm.isf(alpha)

std_error = samp_sd/(samp_n**0.5)
z_test = (samp_mean-pop_mean)/std_error

print("z-critical: ", z_critical)
print("z-test: ", z_test)

z-critical:  1.6448536269514729
z-test:  1.42

>Since z_test < z_critical for a right tailed test at 5% significance level, we fail to reject the null hypothesis.
Therefore we can conclude that there is insufficient evidence to prove that the average annual family income on Metropolis is greater than $48,432.

### Problem 6

In [6]:
pop_mean = 32.28 #population mean
samp_n = 19 #sample size
samp_mean = 31.67 #sample mean
samp_sd = 1.29 #sample standard deviation
alpha = 0.05

#Since sample size<30 and population variance is unknown, we will perform a T-test to test the hypothesis.

#H0: The average price per square foot for warehouses in the United States is equal to $32.28
#H1: The average price per square foot for warehouses in the United States is less than $32.28

#This is a left tailed test.

df = samp_n-1 # Degrees of freedom
t_critical = -(st.t.ppf(1-alpha,df))

std_error = samp_sd/(samp_n**0.5)

t_test = (samp_mean-pop_mean)/std_error
print("t-critical: ", t_critical)
print("t_score: ", t_test)

t-critical:  -1.7340636066175354
t_score:  -2.06118477175179

>Since t_test < t_critical for a left tailed test at 5% significance level, we reject the null hypothesis.
Therefore we can conclude that there is sufficient evidence to prove that the average price per square foot for warehouses in the United States is less than $32.28

### Problem 7

### Problem 8

In [7]:
pop_mean = 10 #population mean
samp_n = 16 #sample size
samp_mean = 12 #sample mean
samp_sd = 1.5 #sample standard deviation

std_error = samp_sd/(samp_n**0.5)

t_score = (samp_mean-pop_mean)/std_error
print("t-score: ",t_score)

t-score:  5.333333333333333

### Problem 9

In [8]:
samp_n = 16 #sample size
df = samp_n-1
alpha = 0.01
#This is a left tailed test
t_score = st.t.ppf(1-alpha,df)
print("t-score: ",t_score)

t-score:  2.602480294995493

### Problem 10

samp_n = 25 #sample size

samp_mean = 60 #sample mean

samp_sd = 4 #sample standard deviation

alpha = 0.05/2 = 0.025

df=samp_n-1

2.064 < t_critical < 2.492 # from t-table

In [9]:
p1 = st.t.cdf(-0.05, df=24)
p2 = st.t.sf(0.1, df=24)

print(f"Probability that -t0.05<t<t0.10 is: {(1-p1)*100:0.2f}% < P(t) < {(1-p2)*100:0.2f}%")

Probability that -t0.05<t<t0.10 is: 51.97% < P(t) < 53.94%

### Problem 11

In [10]:
n1 = 1200 # size for population1
x1 = 452 # mean for population1
s1 = 212 # standard deviation for population1
n2 = 800 # size for population2
x2 = 523 # mean for population2
s2 = 185 # standard deviation for population2

# H0: Number of poeple travelling from Bangalore to Chennai is same as the number of people travelling from Bangalore to Hosur
# in a week.
# H1: Number of poeple travelling from Bangalore to Chennai is different from the number of people travelling from Bangalore to
# Hosur in a week

std_error = (((s1**2)/n1) + ((s2**2)/n2))**0.5

# Assuming our Null hypothesis to be true, sample means for both the population is assumed to be same.

z_score = (x1-x2)/std_error

# Since this is a two tailed test, we need to find left and right critical region

alpha = 0.05 # For 5% significance level

z_critical = st.norm.cdf(alpha/2)

print("Z-score: ", z_score)
print(f"Z-critical: Â±{-z_critical}")

Z-score:  -7.926428526759299
Z-critical: Â±-0.509972518195238

>Since Z-score < Z-critical-left, we reject the null hypothesis.
Therefore we can conclude that there is sufficient evidence to prove that the number of poeple travelling from Bangalore to 
Chennai is different from the number of people travelling from Bangalore to Hosur in a week.

### Problem 12

In [11]:
n1 = 100 # size for population1
x1 = 308 # mean for population1
s1 = 84 # standard deviation for population1
n2 = 100 # size for population2
x2 = 254 # mean for population2
s2 = 67 # standard deviation for population2

#H0: Number of people preferring Duracell battery is the same as number of people preferring Energizer battery.
#H1: Number of people preferring Duracell battery is different from number of people preferring Energizer battery.

std_error = (((s1**2)/n1) + ((s2**2)/n2))**0.5

# Assuming our Null hypothesis to be true, sample means for both the population is assumed to be same.

z_score = (x1-x2)/std_error

# Since this is a two tailed test, we need to find left and right critical region

alpha = 0.05 # For 5% significance level

z_critical = st.norm.cdf(alpha/2)

print("Z-score: ", z_score)
print(f"Z-critical: Â±{z_critical}")

Z-score:  5.025702668336442
Z-critical: Â±0.509972518195238

>Since the z-score lies within the confidence interval, we fail to reject the null hypothesis. 
Therefore we can conlcude that there is insufficient evidence to prove that the number of people preferring Duracell battery is different from number of people preferring Energizer battery.

### Problem 13

In [12]:
n1 = 14 # size for population1
x1 = 0.317 # mean for population1
s1 = 0.12 # standard deviation for population1
n2 = 9 # size for population2
x2 = 0.21 # mean for population2
s2 = 0.11 # standard deviation for population2

#H0: Average percentage increase in the price of sugar is same when it is sold at two different prices
#H1: Average percentage increase in the price of sugar differs when it is sold at two different prices

std_error = (((s1**2)/n1) + ((s2**2)/n2))**0.5

# Assuming our Null hypothesis to be true, sample means for both the population is assumed to be same.

t_score = (x1-x2)/std_error #Since sample size <30, we use t-statistic for testing

# Since this is a two tailed test, we need to find left and right critical region.

alpha = 0.05
df = n1+n2-2
t_critical = st.t.isf(alpha/2, df=df)
print(f"t_score: {t_score}, \nt_critical: Â±{t_critical}")

t_score: 2.1965113720074068,
t_critical: Â±2.0796138447276626

>Since the t_score lies in the right critical region, we reject our null hypothesis.
Therefore we can conclude that there is sufficient evidence to prove that the average percentage increase in the price of sugar differs when it is sold at two different prices.

### Problem 14

In [13]:
n1 = 15 # size for population1
x1 = 6598 # mean for population1
s1 = 844 # standard deviation for population1
n2 = 12 # size for population2
x2 = 6870 # mean for population2
s2 = 669 # standard deviation for population2

# H0: Small price reduction is not enough to increase the sales of compact disk players
# H1: A small price reduction is enough to increase the sales of compact disk players

std_error = (((s1**2)/n1) + ((s2**2)/n2))**0.5

# Assuming our Null hypothesis to be true, sample means for both the population is assumed to be same.

t_score = (x1-x2)/std_error #Since sample size <30, we use t-statistic for testing

# Since we are testing for increase in sales, this is a right tailed test.

alpha = 0.05
df = n1+n2-2
t_critical = st.t.isf(alpha, df=df)
print(f"t_score: {t_score}, \nt_critical: {t_critical}")

t_score: -0.9341299576730813,
t_critical: 1.708140761251899

>Since t_score lies within the confidence interval, we fail to reject the null hypothesis.
Therefore we can conclude that there is insuffficient evidence to prove that a small price reduction is enough to increase the sales of compact disk players.

### Problem 15

In [14]:
n1 = 1000 # size for population1
x1 = 53 # mean for population1
p1 = 0.53
n2 = 100 # size for population2
x2 = 43 # mean for population2
p2 = 0.53

# H0: Bank's share of the car loan market in 1980 and 1985 are the same.
# H1: Bank's share of the car loan market in 1980 and 1985 are not the same.

p = ((p1*n1)+(p2*n2)) / (n1+n2) #Pooled sample proportion

std_error = (p*(1-p)*(n1+n2)/(n1*n2))

# Assuming our Null hypothesis to be true, sample means for both the population is assumed to be same.

z_score = (p1-p2)/std_error #Since sample size >30, we use z-statistic for testing

#This is a two tailed test.
alpha = 0.05
df = n1+n2-2
z_critical = st.norm.isf(alpha/2)
print(f"z_score: {z_score}, \nz_critical: Â±{z_critical}")

z_score: 0.0,
z_critical: Â±1.9599639845400545

>Since z_score lies within the confidence interval, we fail to reject the null hypothesis.
Therefore we can conclude that there is insufficient evidence to prove that Bank's share of the car loan market in 1980 and 1985 are not the same.

### Problem 16

In [15]:
n1 = 300 # size for population1
x1 = 120 # mean for population1
p1 = 0.40
n2 = 700 # size for population2
x2 = 140 # mean for population2
p2 = 0.20

# H0: population proportion of travelerâ€™s check buyers who buy at least $2500 in checks when sweepstakes prizes are offered 
# are at least 10% higher than the proportion of such buyers when no sweepstakes are on.
# H1: not H0

p = ((p1*n1)+(p2*n2)) / (n1+n2) #Pooled sample proportion

std_error = (p*(1-p)*(n1+n2)/(n1*n2))

# Assuming our Null hypothesis to be true, sample means for both the population is assumed to be same.

z_score = (p1-p2)/std_error #Since sample size >30, we use z-statistic for testing


alpha = 0.05
df = n1+n2-2
z_critical = st.norm.isf(alpha)
print(f"z_score: {z_score}, \nz_critical: {z_critical}")

z_score: 218.2952182952183,
z_critical: 1.6448536269514729

### Problem 17

In [16]:
n = 132
num = [1,2,3,4,5,6]
freq = [16,20,25,14,29,28]
#df = p-1

### Problem 18

In [17]:
n_pop = 1000000
n = 10000
men_voted = 2792
men_not_voted = 1486
women_voted = 3591
women_not_voted = 2131

#H0: Gender and voting are dependant.
#H1: Gender and voting are independant.

men_obs = men_voted
men_exp = men_voted + men_not_voted

women_obs = women_voted
women_exp = women_voted + women_not_voted

chi_score = (((men_obs - men_exp)**2)/men_exp) + (((women_obs - women_exp)**2)/women_exp)

df = 1
alpha = 0.05

chi_critical = st.chi2.isf(alpha,df)

print(f"Chi-score: {chi_score}, \nChi-critical: {chi_critical}")

Chi-score: 1309.8066201674956,
Chi-critical: 3.8414588206941285

>Since chi-score falls inside the critical region, we reject the null hypothesis. Therefore we can conclude that there is sufficient evidence to claim that gender and voting are independant.

### Problem 19

In [18]:
c1_obs = 41
c1_exp = 25
c2_obs = 19
c2_exp = 25
c3_obs = 24
c3_exp = 25
c4_obs = 16
c4_exp = 25

#H0: All candidates are equally popular
#H1: All candidates are not equally popular

chi_critical = 14.96 #given

chi_score = (((c1_obs-c1_exp)**2)/c1_exp)+(((c2_obs-c2_exp)**2)/c2_exp)+(((c3_obs-c3_exp)**2)/c3_exp)+(((c4_obs-c4_exp)**2)/c4_exp)

print(f"Chi-score: {chi_score}, \nChi-critical: {chi_critical}")

Chi-score: 14.959999999999999,
Chi-critical: 14.96

>Since Chi-score lies in the critical region, we reject the null hypothesis.
Therefore we conclude that there is sufficient evidence to claim that all the candidates are not equally popular.

### Problem 20

In [19]:
data = {"A":[18,2,20], "B":[22,28,10], "C":[20,40,40]}

#H0: There is a significant relationship between age and photograph preference.
#H1: There is no significant relationship between age and photograph preference.

age = ['5-6 years', '7-8 years', '9-10 years']
age_i = ['Age of child','Age of child', 'Age of child']

h_idx = list(zip(age_i,age))
levels = pd.MultiIndex.from_tuples(h_idx)
df = pd.DataFrame(data, index=levels)
df

                          A   B   C
Age of child 5-6 years   18  22  20
             7-8 years    2  28  40
             9-10 years  20  10  40

In [20]:
col_names = [name for name in df.columns]

for col in col_names:
    name1 = col+"_exp"
    df[name1] = df[col].sum()
df

                          A   B   C  A_exp  B_exp  C_exp
Age of child 5-6 years   18  22  20     40     60    100
             7-8 years    2  28  40     40     60    100
             9-10 years  20  10  40     40     60    100

In [21]:
#Calculating chi stats

for c_name in col_names:
    name1 = c_name + "_exp"
    name2 = c_name + "_chi2"
    df[name2] = ((df[c_name]-df[name1])**2) / df[name1]
df

                          A   B   C  A_exp  B_exp  C_exp  A_chi2     B_chi2  \
Age of child 5-6 years   18  22  20     40     60    100    12.1  24.066667
             7-8 years    2  28  40     40     60    100    36.1  17.066667
             9-10 years  20  10  40     40     60    100    10.0  41.666667

                         C_chi2
Age of child 5-6 years     64.0
             7-8 years     36.0
             9-10 years    36.0

In [22]:
df["Chi_score"] = df["A_chi2"] + df["B_chi2"] + df["C_chi2"]
df

                          A   B   C  A_exp  B_exp  C_exp  A_chi2     B_chi2  \
Age of child 5-6 years   18  22  20     40     60    100    12.1  24.066667
             7-8 years    2  28  40     40     60    100    36.1  17.066667
             9-10 years  20  10  40     40     60    100    10.0  41.666667

                         C_chi2   Chi_score
Age of child 5-6 years     64.0  100.166667
             7-8 years     36.0   89.166667
             9-10 years    36.0   87.666667

In [23]:
chi_critical = 29.6 #given
df["Chi_critical"] = chi_critical
df

                          A   B   C  A_exp  B_exp  C_exp  A_chi2     B_chi2  \
Age of child 5-6 years   18  22  20     40     60    100    12.1  24.066667
             7-8 years    2  28  40     40     60    100    36.1  17.066667
             9-10 years  20  10  40     40     60    100    10.0  41.666667

                         C_chi2   Chi_score  Chi_critical
Age of child 5-6 years     64.0  100.166667          29.6
             7-8 years     36.0   89.166667          29.6
             9-10 years    36.0   87.666667          29.6

>Since chi score falls in the critical region, we reject the null hypothesis.
Therefore we conclude that evidence is insufficient to claim that there is a significant relationship between age and photograph preference.

>The study doesnt take the sex of children and sex of the adults in the photograph into consideration. 
A male child might have bias towards the photograph of a female adult and vice versa.

### Problem 21

In [24]:
s_obs = 18
s_exp = 50
ns_obs = 40
ns_exp = 50

#H0: There is no difference between "support" and "no support" conditions in the frequency with which individuals are 
# likely to conform.
#H1: There is a significant difference between "support" and "no support" conditions in the frequency with which individuals are
# likely to conform.

chi_critical = 19.87 #given

chi_score = (((s_obs-s_exp)**2)/s_exp) + (((ns_obs-ns_exp)**2)/ns_exp)

print(f"Chi-score: {chi_score}, \nChi-critical: {chi_critical}")

Chi-score: 22.48,
Chi-critical: 19.87

>Since Chi-score lies in the critical region, we reject the null hypothesis.
Therefore we conclude that there is sufficient evidence to prove that there is a significant difference between "support" and "no support" conditions in the frequency with which individuals are likely to conform.

### Problem 22

In [25]:
sl_obs = 12
sl_exp = 43
sf_obs = 22
sf_exp = 43
su_obs = 9
su_exp = 43
tl_obs = 32
tl_exp = 52
tf_obs = 14
tf_exp = 52
tu_obs = 6
tu_exp = 52

#H0: There is a relationship between height and leadership qualities
#H1: There is no relationship between height and leadership qualities

chi_critical = 10.71 #given

chi_score = (((sl_obs-sl_exp)**2)/sl_exp) + (((sf_obs-sf_exp)**2)/sf_exp) + (((su_obs-su_exp)**2)/su_exp) + (((tl_obs-tl_exp)**2)/tl_exp) +\
(((tf_obs-tf_exp)**2)/tf_exp) + (((tu_obs-tu_exp)**2)/tu_exp)

print(f"Chi-score: {chi_score}, \nChi-critical: {chi_critical}")

Chi-score: 135.64221824686942,
Chi-critical: 10.71

>Since Chi-score falls within critical region, we reject the null hypothesis.
Therefore we conclude that there is sufficient evidence to claim that there is no relationship between height and leadership qualities.

### Problem 23

In [26]:
data = {"M":[679,63,42], "WDS":[103,10,18], "NM":[114,20,25]}
df = 4
alpha = 0.05

#M = Married
#NM = Never Married
#WDS = Widow, Divorced or Separated

#H0: Men of different marital status seem to have same distributions of labor force status.
#H1: Men of different marital status seem to have different distributions of labor force status.

df = pd.DataFrame(data=data, index=["Employed","Unemployed","Not in labor force"])
df

                      M  WDS   NM
Employed            679  103  114
Unemployed           63   10   20
Not in labor force   42   18   25

In [27]:
# Column names for further reference
col_names = [name for name in df.columns]

# Adding expected values
for column in df.columns:
    name = column + "_exp"
    df[name] = df[column].sum()

In [28]:
df

                      M  WDS   NM  M_exp  WDS_exp  NM_exp
Employed            679  103  114    784      131     159
Unemployed           63   10   20    784      131     159
Not in labor force   42   18   25    784      131     159

In [29]:
#Calculating chi stats

for c_name in col_names:
    name1 = c_name + "_exp"
    name2 = c_name + "_chi2"
    df[name2] = ((df[c_name]-df[name1])**2) / df[name1]

In [30]:
df

,M,WDS,NM,M_exp,WDS_exp,NM_exp,M_chi2,WDS_chi2,NM_chi2
Employed,679,103,114,784,131,159,14.0625,5.984733,12.735849
Unemployed,63,10,20,784,131,159,663.0625,111.763359,121.515723
Not in labor force,42,18,25,784,131,159,702.2500,97.473282,112.930818

In [31]:
# Adding chi score

df["Chi_score"] = df["M_chi2"] + df["WDS_chi2"] + df["NM_chi2"]
df

,M,WDS,NM,M_exp,WDS_exp,NM_exp,M_chi2,WDS_chi2,NM_chi2,Chi_score
Employed,679,103,114,784,131,159,14.0625,5.984733,12.735849,32.783082
Unemployed,63,10,20,784,131,159,663.0625,111.763359,121.515723,896.341582
Not in labor force,42,18,25,784,131,159,702.2500,97.473282,112.930818,912.654100

In [32]:
chi_critical = 9.49 #from table
df["Chi_critical"] = chi_critical
df

,M,WDS,NM,M_exp,WDS_exp,NM_exp,M_chi2,WDS_chi2,NM_chi2,Chi_score,Chi_critical
Employed,679,103,114,784,131,159,14.0625,5.984733,12.735849,32.783082,9.49
Unemployed,63,10,20,784,131,159,663.0625,111.763359,121.515723,896.341582,9.49
Not in labor force,42,18,25,784,131,159,702.2500,97.473282,112.930818,912.654100,9.49

Since Chi score falls inside the critical region, we reject the null hypothesis.
Therefore we conclude that there is sufficient evidence to prove that men of different marital status seem to have different distributions of labor force status.